body {
    background-color: #CAE8D5;
}
@font-face {
    font-family: Smartgen;
    src: url(LobsterTwo-Bold.ttf);
  }

  @font-face {
    font-family: sign up;
    src: url(Lemonada-VariableFont_wght.ttf);
  }
.tittle {
    position: absolute;
width: 231px;
height: 66px;
left: calc(50% - 231px/2 + 5.5px);
top: 126px;

font-family: SmartGen;
src: url(LobsterTwo-Bold.ttf);
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 150%;
/* or 72px */

text-align: center;

color: #204051;

mix-blend-mode: normal;

}

.subtittle {
    position: absolute;
width: 327px;
height: 40px;
left: 17px;
top: 207px;

font-family: Sign up;
src: url(Lemonada-VariableFont_wght.ttf);
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */

text-align: center;

color: #000000;
}

.button-sign-up {
    position: absolute;
width: 272px;
height: 35px;
left: 55px;
top: 437px;
background-color: #18191F;
color: #CAE8D5;
border-radius: 48px;
font-size: 12px;
font-family: Sign up;
src: url(Lemonada-VariableFont_wght.ttf);
font-style: normal;
}

.field-signup {
    position: absolute;
    width: 276px;
    height: 35px;
    left: 42px;
    top: 273px;
    

background: rgba(255, 255, 255, 0.73);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 48px;

font-family: Sign up;
src: url(Lemonada-VariableFont_wght.ttf);
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 28px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;
text-align: center ;
}

.field-pw {
    position: absolute;
    width: 276px;
    height: 35px;
    left: 42px;
    top: 318px;

background: rgba(255, 255, 255, 0.73);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 48px;

font-family: Sign up;
src: url(Lemonada-VariableFont_wght.ttf);
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 28px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;
text-align: center ;
}

.field-pw-again {
    position: absolute;
    width: 276px;
    height: 35px;
    left: 42px;
    top: 363px;
    
background: rgba(255, 255, 255, 0.73);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 48px;

font-family: Sign up;
src: url(Lemonada-VariableFont_wght.ttf);
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 28px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;
text-align: center ;
}

.fasfa-user {
    position: static;
left: 0%;
right: 93.59%;
top: 17.86%;
bottom: 17.86%;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 12px;
}

.signup {
/* Auto Layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 281px;
height: 28px;
left: 76px;
top: 277px;

}

.password-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 281px;
    height: 28px;
    left: 76px;
    top: 322px;
    
}

.password-icon-again {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 281px;
    height: 28px;
    left: 76px;
    top: 367px;
    
}