body {
    background-color: #ecfaf1;
}
@font-face {
    font-family: Smartgen;
    src: url(LobsterTwo-Bold.ttf);
}

@font-face {
    font-family: sign up;
    src: url(Lemonada-VariableFont_wght.ttf);
}

.back-bayar {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 50px;
    top: 75px;
}


.atribut {
    font-family: sign up;

    font-size: 12px;
    font-weight: 900;
    color: rgb(2, 2, 5);
    margin-left: 20px;
    text-align: center;
    position: relative;
    top: 130px;
    font-size: 12px;
}

.sesi {
    position: absolute;
    width: 167.48px;
    height: 41px;
    left: 65px;
    top: 280px;

    font-family: sign up;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    text-align: left;
    color: #000000;
}

.price {
    position: absolute;
    width: 80.89px;
    height: 18px;
    left: 204px;
    top: 31px;

    font-family: sign up;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;

    color: #000000;
}
.method {
    position: absolute;
    width: 237px;
    height: 20px;
    left: 90px;
    top: 125px;

    font-family: sign up;
    font-size: 12px;
}

.gopay {
    position: absolute;
    width: 103px;
    height: 40px;
    left: 38px;
    top: 440px;

    background: #cbcdcc;
    /* Colors / Black */

    border: 2px solid #18191f;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.ovo {
    position: absolute;
    width: 103px;
    height: 40px;
    left: 156px;
    top: 440px;

    background: #cbcdcc;
    /* Colors / Black */

    border: 2px solid #18191f;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.dana {
    position: absolute;
    width: 103px;
    height: 40px;
    left: 275px;
    top: 440px;

    background: #cbcdcc;
    /* Colors / Black */

    border: 2px solid #18191f;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.smartgen-pembayaran {
    position: absolute;
    height: 66px;
    top: 60px;
    left:140px;
    
    font-family: smartgen;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    /* or 72px */

    text-align: center;

    color: #204051;

    mix-blend-mode: normal;
}

.psikolog-done-pemabayaran {
    position: absolute;
    width: 293px;
    height: 94px;
    left: 62px;
    top: 170px;
}
