body {
    background-color: #ECFAF1;
}
@font-face {
    font-family: Smartgen;
    src: url(LobsterTwo-Bold.ttf);
  }

  @font-face {
    font-family: sign up;
    src: url(Lemonada-VariableFont_wght.ttf);
  }

  .back-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 40px;
    top: 35px;
    
  }

  h1 {
    font-family: 'Smartgen';
    font-variant: inherit;
    font-size: 36px;
    font-weight: 900;
   color: rgb(40, 48, 95);
   margin-left: 20px;
   text-align: center;
   position: relative;
   top: 10px
  }

  h5 {
    font-family: 'sign up';

    font-variant: inherit;
    font-size: 12px;
    font-weight: 900;
   color: rgb(2, 2, 5);
   margin-left: 20px;
   text-align: center;
   position: relative;
   top: 5px
  }

  .sesi {
    position: absolute;
    width: 167.48px;
    height: 41px;
    left: 43px;
    top: 242px;
    
    font-family: sign up;
    font-style: normal;
    font-weight: normal;
 font-size: 12px;
    
    text-align: left;
    color: #000000;
    
  }

  .price {
    position: absolute;
    width: 80.89px;
    height: 18px;
    left: 250px;
    top: 261px;
    
    font-family: sign up;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;

    color: #000000;
    
  }
  .method {
      
position: absolute;
width: 237px;
height: 20px;
left: 63px;
top: 364px;

font-family: sign up;
font-size: 12px;
  }

  .gopay {
    position: absolute;
    width: 103px;
    height: 40px;
    left: 20px;
    top: 399px;
    
    background: #CBCDCC;
    /* Colors / Black */
    
    border: 2px solid #18191F;
    box-sizing: border-box;
    /* Shadow / 400 */
    
    box-shadow: 0px 4px 0px #18191F;
    border-radius: 16px;
  }

  .ovo {
    position: absolute;
    width: 103px;
    height: 40px;
    left: 130px;
    top: 399px;
    
    background: #CBCDCC;
    /* Colors / Black */
    
    border: 2px solid #18191F;
    box-sizing: border-box;
    /* Shadow / 400 */
    
    box-shadow: 0px 4px 0px #18191F;
    border-radius: 16px;
  }

  .dana {
    position: absolute;
    width: 103px;
    height: 40px;
    left: 240px;
    top: 399px;
    
    background: #CBCDCC;
    /* Colors / Black */
    
    border: 2px solid #18191F;
    box-sizing: border-box;
    /* Shadow / 400 */
    
    box-shadow: 0px 4px 0px #18191F;
    border-radius: 16px;
    
  }