body {
    background-color: #ecfaf1;
}
@font-face {
    font-family: Smartgen;
    src: url(LobsterTwo-Bold.ttf);
}

@font-face {
    font-family: sign up;
    src: url(Lemonada-VariableFont_wght.ttf);
}

.home-title {
    position: absolute;
    width: 231px;
    height: 66px;
    left: 60px;
    top: 5px;

    font-family: Smartgen;
    src: url(LobsterTwo-Bold.ttf);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */

    text-align: center;

    color: #204051;

    mix-blend-mode: normal;
}

.button-home {
    position: absolute;
    width: 301px;
    height: 151px;
    left: 30px;
    top: 148px;

    background: #3b6978;
    /* Colors / Black */
    justify-content: center;
    border: 2px solid #18191f;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.rectangle {
    position: absolute;
    width: 225px;
    height: 82px;
    left: 38px;
    top: 33px;

    background: #dff5e7;

    border: 2px solid #18191f;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}
.kata-button {
    position: absolute;
    width: 192.27px;
    height: 43.05px;
    left: 15px;
    top: 18px;

    font-family: sign up;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    text-align: center;

    color: #000000;
}

.garis-home {
    position: absolute;
    width: 500px;
    height: 1px;
    left: 0px;
    top: 88px;
}
.perasaan {
    position: absolute;
    width: 296px;
    height: 28px;
    left: 55px;
    top: 317px;

    font-family: sign up;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;

    color: #000000;
}
.button-konsul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0px;

    position: absolute;
    width: 81px;
    height: 76px;
    left: 88px;
    top: 410px;

    background: #e7fbee;
    border: 2px solid #3e5962;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.button-agenda {
    position: absolute;
    width: 81px;
    height: 76px;
    left: 195px;
    top: 410px;

    background: #e7fbee;
    border: 2px solid #3e5962;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.konsul {
    position: absolute;
    width: 95px;
    height: 50px;
    left: -8px;
    top: 10px;
}

.artikel-home {
    font-family: sign up;
    margin-top: 20px;
    align-items: center;

    position: absolute;
    width: 301px;
    height: 50px;
    left: 30px;
    top: 507px;

    background: #e7fbee;
    border: 2px solid #3e5962;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.judul-artikel {
    position: absolute;
    width: 225px;
    height: 38px;
    left: 23px;
    top: 0px;

    text-align: left;
    font-family: Lemonada;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    color: #000000;
}
.isi-artikel {
    position: absolute;
    width: 267px;
    height: 31px;
    left: 23px;
    top: 42px;
    text-align: left;
    font-family: Lemonada;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;
    /* or 15px */

    color: #000000;
}

.link-artikel {
    position: absolute;
    width: 267px;
    height: 15px;
    left: 23px;
    top: 80px;

    text-align: left;
    font-family: Lemonada;
    font-style: normal;
    font-weight: 300;
    font-size: 6px;
    line-height: 150%;
    /* or 7px */

    color: #000000;
}

.logo {
    position: absolute;
    width: 1000px;
    height: 575.46px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.profil {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 29px;
    top: 95px;
}

.senang {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 355px;
}

.sedih {
    position: absolute;
    width: 34px;
    height: 45px;
    left: 105px;
    top: 351px;
}

.marah {
    position: absolute;
    width: 38px;
    height: 43px;
    left: 150px;
    top: 353px;
}

.kesal {
    position: absolute;
    width: 36px;
    height: 43px;
    left: 198px;
    top: 353px;
}

.kecewa {
    position: absolute;
    width: 41px;
    height: 43px;
    left: 244px;
    top: 353px;
}

.style {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 0px;
    top: 0px;
}

.agenda {
    position: absolute;
    width: 95px;
    height: 50px;
    left: -8px;
    top: 10px;
}

.pp-home {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 29px;
    top: 95px;
}

.baca-artikel {
    position: static;
    width: 95px;
    height: 15px;
    left: 103px;
    top: 18px;

    font-family: Lemonada;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 150%;
    /* identical to box height, or 15px */

    text-align: center;

    color: #000000;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
