body {
    background-color: #ECFAF1;
}

@font-face {
    font-family: Smartgen;
    src: url(LobsterTwo-Bold.ttf);
  }

  @font-face {
    font-family: Lemonada;
    src: url(Lemonada-VariableFont_wght.ttf);
  }

  .title-chat {
  position: absolute;
width: 231px;
height: 66px;
left: 55px;
top: 10px;

font-family: Smartgen; 
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 150%;
/* or 54px */

text-align: center;

color: #204051;

mix-blend-mode: normal;
  }

  .subtitle-chat {
    position: absolute;
    width: 181px;
    height: 35px;
    left: 88px;
    top: 78px;
    
    font-family: Lemonada;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    
    text-align: center;
    
    color: #000000;
    
  }
  .img-cont-msg {
    position: absolute;
    width: 35px;
    height: 36.86px;
    left: 24px;
    top: 135.32px;
    
    /* Colors / Yellow */

    box-sizing: border-box;
    border-radius: 166px;
  }

  .msg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    
    position: absolute;
    width: 216px;
    height: 69.51px;
    left: 73px;
    top: 129px;
    
    background: #D3E4D9;
    /* Colors / Black */
    
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    border: 2px solid #18191F;
    box-sizing: border-box;
    border-radius: 16px;
  }
  .img-cont-msg-ava {
    position: absolute;
    width: 35px;
    height: 36.86px;
    left: 306px;
    top: 211.15px;
  }
  .msg-container-send {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    
    position: absolute;
    width: 215px;
    height: 36.86px;
    left: 76px;
    top: 211.15px;
    
    background: #9DBDA8;
    /* Colors / Black */
    
    border: 2px solid #18191F;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .img-cont-msg-2 {
    position: absolute;
    width: 35px;
    height: 36.86px;
    left: 24px;
    top: 260.64px;
    
    /* Colors / Yellow */
    
 
    box-sizing: border-box;
    border-radius: 166px;
  }

  .msg-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    
    position: absolute;
    width: 216px;
    height: 36.86px;
    left: 73px;
    top: 263.8px;
    
    background: #D3E4D9;
    /* Colors / Black */
    
    border: 2px solid #18191F;
    box-sizing: border-box;
    border-radius: 16px;
    
  }

  .img-cont-msg-3 {
    position: absolute;
    width: 35px;
    height: 36.86px;
    left: 304px;
    top: 313.3px;
    
  }

  .msg-container-3 {
    display: flex;
flex-direction: row;
align-items: center;
padding: 16px;

position: absolute;
width: 215px;
height: 36.86px;
left: 74px;
top: 313.3px;

background: #9DBDA8;
/* Colors / Black */

border: 2px solid #18191F;
box-sizing: border-box;
border-radius: 16px;
  }

  .img-cont-msg-4 {
    position: absolute;
    width: 35px;
    height: 36.86px;
    left: 23px;
    top: 362px;
    
    box-sizing: border-box;
    border-radius: 166px;
    
  }

  .msg-container-4 {
    display: flex;
flex-direction: row;
align-items: center;
padding: 16px;

position: absolute;
width: 216px;
height: 36.86px;
left: 72px;
top: 365.16px;

background: #D3E4D9;
/* Colors / Black */

font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 150%;
/* or 15px */
border: 2px solid #18191F;
box-sizing: border-box;
border-radius: 16px;
  }


  .ketik-pesan {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    
    position: absolute;
    width: 331px;
    height: 35px;
    left: 14px;
    top: 421px;
    
    background: #829688;
    /* Colors / Black */
    
    border: 2px solid #18191F;
    box-sizing: border-box;
    border-radius: 16px;

  }

  .send-chat  {
    position: absolute;
left: 300px;
top:430px;
bottom: 30.65%;

  }

  .backk {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 30px;
    top: 55px;
  }
