
@font-face {
    font-family: Smartgen;
    src: url(LobsterTwo-Bold.ttf);
  }

  @font-face {
    font-family: Lemonada;
    src: url(Lemonada-VariableFont_wght.ttf);
  }
.card-artikel {
    align-items: center;
    padding: 18px 0px;

    position: absolute;
    width: 301px;
    height: 112px;
    left: 60px;
    margin-top: 130px;

    background: #e7fbee;
    border: 2px solid #3e5962;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.judul-artikel {
    top:10px;
}

.isi-artikel {
    top:52px;
}

.link-artikel {
    top: 86px;
}

.card-artikel2 {
    align-items: center;
    padding: 18px 0px;

    position: absolute;
    width: 301px;
    height: 112px;
    left: 60px;
    top: 270px;

    background: #e7fbee;
    border: 2px solid #3e5962;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.isi-artikel3 {
    right: 50px;
}
.card-artikel3 {
    align-items: center;
    padding: 18px 0px;

    position: absolute;
    width: 301px;
    height: 112px;
    left: 60px;
    top: 410px;

    background: #e7fbee;
    border: 2px solid #3e5962;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.card-artikel4 {
    align-items: center;
    padding: 18px 0px;

    position: absolute;
    width: 301px;
    height: 112px;
    left: 60px;
    top: 550px;

    background: #e7fbee;
    border: 2px solid #3e5962;
    box-sizing: border-box;
    /* Shadow / 400 */

    box-shadow: 0px 4px 0px #18191f;
    border-radius: 16px;
}

.subtittle-psikolog {
    top: 25px !important;
}
.title {
    position: absolute;
width: 231px;
height: 66px;
left: 95px;
top: 30px;

font-family: Smartgen;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 150%;
/* or 54px */

text-align: center;

color: #204051;

mix-blend-mode: normal;
}

.mb-50 {
    margin-top: 200px;
}

.back-artikel {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 50px;
    top: 40px;
}

