body {
    background-color: #ECFAF1;
}

@font-face {
    font-family: Smartgen;
    src: url(./LobsterTwo-Bold.ttf);
  }

  @font-face {
    font-family: diary;
    src: url(./Lemonada-VariableFont_wght.ttf);
  }

.home {
    position: absolute;
left: 10%;
right: 82.75%;
top: 6.85%;
bottom: 90.07%;

color: #204051;
}

.diary{
    position: absolute;
width: 220px;
height: 33px;
left: calc(50% - 229px/2 + 9.5px);
top: 49px;

font-family: diary;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 150%;
/* or 24px */

text-align: center;

color: #204051;

mix-blend-mode: normal;
}

.jadwal{
    position: absolute;
width: 305px;
height: 25px;
left: 26px;
top: 91px;

font-family: diary;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 150%;
/* or 16px */

text-align: center;

color: #000000;

}

.mb-3{
    position: absolute;
left: 10%;
right: 9.95%;
top: 18.04%;
bottom: 60.56%;

background: #DFF0E5;
/* Colors / Black */

border: 2px solid #18191F;
box-sizing: border-box;
border-radius: 16px;
}

.form-control{
    position: absolute;
    width: 100%;
    background: #DFF0E5;
}

.form-label{

width: 285px;
    
text-align: center;
font-family: diary;
font-style: normal;
font-weight: bold;
font-size: 12px;

/* or 18px */


color: #000000;
}

.ava{
    position: absolute;
width: 279px;
height: 95px;
left: 45px;
top: 280px;
}
.cal{
    position: absolute;
width: 146px;
height: 22px;
left: 106px;
top: 407px;

font-family: Lemonada;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 150%;
/* or 18px */

text-align: center;

color: #000000;

}

.kalender{
  position: absolute;
width: 279px;
height: 217px;
left: 36px;
top: 431px;

}