body {
    background-color: #ECFAF1;
}

 
   @font-face {
    font-family: diary;
    src: url(./Lemonada-VariableFont_wght.ttf);
  }



.diary-jurnal-1 {
    position: absolute;
    width: 229px;
    height: 33px;
    left: calc(50% - 229px/2 + 9.5px);
    top: 20px;
    
    font-family: diary;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    text-align: center;
    
    color: #204051;
    
    mix-blend-mode: normal;
}

.jadwal-jurnal-1{
    position: absolute;
width: 305px;
height: 25px;
left: 65px;
top: 91px;

font-family: diary;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 150%;
/* or 16px */

text-align: center;

color: #000000;

}


.form-control{
    position: absolute;
    left: 2%;
right: 9.95%;
top: 18.04%;
bottom: 10%;
    width: 95%;
    background: #DFF0E5;
}

.form-label-1{

    position: absolute;
    left: 10%;
    right: 9.95%;
    top: 18.04%;
    bottom: 60.56%;
    
    background: #DFF0E5;
    /* Colors / Black */
    font-family: Lemonada;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 150%;
/* or 18px */

text-align: center;
    border: 2px solid #18191F;
    box-sizing: border-box;
    border-radius: 16px;
}

.ava{
    position: absolute;
width: 279px;
height: 95px;
left: 65px;
top: 310px;
}
.cal{
    position: absolute;
width: 146px;
height: 22px;
left: 70px;
top: 407px;

font-family: Lemonada;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 150%;
/* or 18px */

text-align: center;

color: #000000;

}

.kalender{
  position: absolute;
width: 279px;
height: 217px;
left: 70px;
top: 431px;

}