
body {
    background-color: #ECFAF1;
}
@font-face {
    font-family: Smartgen;
    src: url(LobsterTwo-Bold.ttf);
  }

  @font-face {
    font-family: Sign up;
    src: url(Lemonada-VariableFont_wght.ttf);
  }
.tittle {
    position: absolute;
width: 231px;
height: 66px;
left: calc(50% - 231px/2 - 0.5px);
top: 36px;

font-family: Smartgen;
src: url(LobsterTwo-Bold.ttf);

font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 150%;
/* or 54px */

text-align: center;

color: #204051;

mix-blend-mode: normal;
}


.login-page {
    text-align: center;
    color: aqua;
}

.login-button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.subtittle {
    position: absolute;
width: 327px;
height: 40px;
left: 17px;
top: 207px;

font-family: Sign up;
src: url(LobsterTwo-Bold.ttf);
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */

justify-content: center;
text-align: center;

color: #000000;
}

.button-sign-up {
    position: absolute;
width: 272px;
height: 35px;
left: 55px;
top: 437px;
background-color: #18191F;
color: #CAE8D5;
border-radius: 48px;
font-family: lemonada;
font-style: normal;
}

.field-signup {
    position: absolute;
    width: 276px;
    height: 35px;
    left: 42px;
    top: 273px;
    

background: rgba(255, 255, 255, 0.73);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 48px;

font-family: Sign up;
src: url(LobsterTwo-Bold.ttf);
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 28px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;
text-align: center ;
}

.field-pw {
    position: absolute;
    width: 276px;
    height: 35px;
    left: 42px;
    top: 318px;

background: rgba(255, 255, 255, 0.73);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 48px;

font-family: Sign up;
src: url(LobsterTwo-Bold.ttf);
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 28px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;
text-align: center ;
}

.field-pw-again {
    position: absolute;
    width: 276px;
    height: 35px;
    left: 42px;
    top: 363px;
    
background: rgba(255, 255, 255, 0.73);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 48px;

font-family: Sign up;
src: url(LobsterTwo-Bold.ttf);
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 28px;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;
text-align: center ;
}
.password {
    position: absolute;
width: 175px;
height: 21px;
left: 159px;
top: 361px;

font-family: Sign up;
src: url(LobsterTwo-Bold.ttf);
font-style: italic;
font-weight: normal;
font-size: 12px;
line-height: 150%;
/* or 18px */

text-align: center;

color: #000B0F;
}
.account {
    position: absolute;
width: 200px;
height: 100px;
left: 41px;
top: 480px;

font-family: Sign up;
src: url(LobsterTwo-Bold.ttf);
font-style: italic;
font-weight: normal;
font-size: 12px;
line-height: 150%;
/* or 18px */

text-align: center;

color: #000B0F;
}
.signup {
position: absolute;
width: 85px;
height: 21px;
left: 230px;
top: 480px;

font-family: Sign up;
src: url(LobsterTwo-Bold.ttf);
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 150%;
/* or 18px */
}

.h2 span { 
     background:#fff; 
     padding:0 10px; 
}
.garis {
    position: absolute;
    width: 126px;
    height: 0px;
    left: 0px;
    top: 543px;
    
    background: #C4C4C4;
    border: 1px solid rgba(0, 0, 0, 0.75);

 } 
 .google {
    position: absolute;
    width: 205px;
    height: 21px;
    left: 78px;
    top: 534px;
    
    font-family: Sign up;
src: url(LobsterTwo-Bold.ttf);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    
    text-align: center;
    
    color: #000B0F;
 }
.line {
    position: absolute;
    width: 150px;
    height: 0px;
    left: 234px;
    top: 543px;
    
    background: #C4C4C4;
    border: 1px solid rgba(0, 0, 0, 0.75);
}
.masuk {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 281px;
height: 28px;
left: 66px;
top: 277px;
}
.password-icon {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 281px;
height: 28px;
left: 66px;
top: 320px;
}
.gugel {
    position: absolute;
width: 20px;
height: 20px;
left: 170px;
top: 570px;
font-size: 30px;

}