body {
    background-color: #ecfaf1;
}

.button-buka {
    position: absolute;
    height: 35px;
    width: 276px;
    left: 70px;
    top: 535px;
    color: #204051;
    font-weight: 700;
    background: #b7d6c2;
    border-radius: 48px;
    font-size: 12px;
    font-family: Sign up;
    src: url(./Lemonada-VariableFont_wght.ttf);
    font-style: normal;
}
